@import 'mixin';

@mixin picture($width: 100%) {
  display: inline-block;
  box-sizing: border-box;
  width: $width;

  padding: 10px;
  background-color: white;
  @include light-shadow;
}

img.picture {
  @include picture;
}
