@import './mixin';

@mixin same-height-grid {
  @media (min-width: 768px) {
    display: table;
    table-layout: fixed;

    width: 100%;

    .same-height-col {
      display: table-cell;
      float: none;
    }
  }
}

.same-height-grid {
  @include same-height-grid;
}

