@import './mixin';

@mixin same-height-grid {
  .same-height-col {
    padding: 1rem;
  }

  @media (min-width: 768px) {
    display: table;
    table-layout: fixed;

    width: 100%;

    .same-height-col {
      display: table-cell;
      float: none;
      vertical-align: top;
    }
  }
}

.same-height-grid {
  @include same-height-grid;
}

