@import 'common/mixin';
@import 'common/window-panel';

@mixin customized-window-panel($main-color: null, $bg-color: null, $border-color: rgba(black, 0.10), $shadow-color: null) {
  background-color: $bg-color;

  .window-panel {
    $border-width: 4px;
    $border-radius: 4px;

    @include window-panel($border-color: $border-color, $border-width: $border-width, $border-radius: $border-radius);

    .main-col {
      background-color: $main-color;
      color: white;
    }

    .sub-col {
      background-color: #f0f0f0;
      color: #555;
    }
  }
}

#top {
  overflow-x: hidden;

  .section {
    $padding: 40px 20px;

    padding: $padding;

    .section-heading {
      text-align: center;

      .icon {
        overflow: hidden;

        display: inline-block;
        width: 80px;
        height: 80px;
        padding: 10px;
        @include border-radius(50%);

        background-color: white;

        span.glyphicon {
          display: inline-block;
          width: 100%;

          font-size: 4.5rem;
          text-align: center;

          color: #aaa;

          @include long-text-shadow($length: 25px, $color: #777);
        }
      }
    }

    .gallery {
      .picture {
      }
    }
  }

  #background {
    $main-color: #41C4F0;
    $bg-color: #59A1CD;
    $shadow-color: #4C95C2;

    .section-heading {
      .icon {
        .glyphicon {
          top: 8px;
          color: $main-color;
          @include long-text-shadow($length: 25px, $color: $shadow-color);
        }
      }
    }

    @include customized-window-panel(
      $main-color: $main-color,
      $bg-color: $bg-color,
      $shadow-color: $shadow-color
    );

    table.table {
      margin: 0;

      tr:first-child {
        td, th {
          border-top: none;
        }
      }
    }
  }

  #experiences {
    $main-color: #FF7878;
    $bg-color: #FC5858;
    $shadow-color: #E24F4F;

    .section-heading {
      .icon {
        .glyphicon {
          top: 9px;
          left: -2px;
          color: $main-color;
          @include long-text-shadow($length: 25px, $color: $shadow-color);
        }
      }
    }

    @include customized-window-panel(
      $main-color: $main-color,
      $bg-color: $bg-color,
      $shadow-color: $shadow-color
    );
  }

  #works {
    $main-color: #41C4F0;
    $bg-color: #59A1CD;
    $shadow-color: #4C95C2;

    .section-heading {
      .icon {
        .glyphicon {
          top: 7px;
          left: 1px;
          color: $main-color;
          @include long-text-shadow($length: 25px, $color: $shadow-color);
        }
      }
    }

    @include customized-window-panel(
      $main-color: $main-color,
      $bg-color: $bg-color,
      $shadow-color: $shadow-color
    );
  }

  #contact {
    $main-color: #FF7878;
    $bg-color: #FC5858;
    $shadow-color: #E24F4F;

    .section-heading {
      .icon {
        .glyphicon {
          top: 8px;
          left: -6px;
          color: $main-color;
          @include long-text-shadow($length: 25px, $color: $shadow-color);
        }
      }
    }

    @include customized-window-panel(
      $main-color: $main-color,
      $bg-color: $bg-color,
      $shadow-color: $shadow-color
    );
  }
}

