@import 'common/mixin';
@import 'common/window-panel';

@mixin customized-window-panel($main-color: null, $bg-color: null, $border-color: rgba(black, 0.10), $shadow-color: null) {
  background-color: $bg-color;

  .window-panel {
    $border-width: 4px;
    $border-radius: 4px;

    @include window-panel($border-color: $border-color, $border-width: $border-width, $border-radius: $border-radius);

    .same-height-col {
      h2 {
        margin-top: 1rem;

        small {
          display: inline-block;
          // margin-left: 2rem;
        }
      }

      h5 {
        font-weight: bold;
        margin-top: 2rem;
      }

      &.main-col {
        padding: 2rem;
        background-color: $main-color;
        color: #555;
      }

      &.sub-col {
        background-color: #fefefe;
        color: #555;
      }
    }
  }
}

#top {
  overflow-x: hidden;

  .section {
    $padding: 20px;

    padding: $padding;

    .section-heading {
      margin: 2rem 0;

      text-align: center;
      color: #555;

      .icon {
        overflow: hidden;

        display: inline-block;
        box-sizing: border-box;
        width: 80px;
        height: 80px;
        padding: 10px;
        @include border-radius(50%);

        background-color: white;

        span.glyphicon {
          display: inline-block;
          width: 100%;

          font-size: 4.5rem;
          text-align: center;

          color: white;
        }
      }
    }
  }

  #profile {
    $main-color: #aaaaaa;
    $shadow-color: darken(desaturate($main-color, 20%), 30%);
    $border-color: #7AA5B8;

    .section-heading {
      .icon {
        background-color: #BFC4D2;

        .glyphicon {
          top: 9px;
          left: 1px;
          color: white;
        }
      }
    }

    @include customized-window-panel(
      $main-color: $main-color,
      $bg-color: white,
      $shadow-color: $shadow-color,
      $border-color: $border-color
    );
  }

  #background {
    $main-color: #C0EA43;
    $border-color: #ADEDF5;
    $bg-color: #DDDFE4;
    $shadow-color: darken(desaturate($main-color, 20%), 30%);

    .section-heading {
      .icon {
        .glyphicon {
          top: 8px;
          left: 1px;
          color: #BFC4D2;
        }
      }
    }

    @include customized-window-panel(
      $main-color: $main-color,
      $bg-color: $bg-color,
      $shadow-color: $shadow-color,
      $border-color: $border-color
    );

    table.table {
      margin: 0;

      tr:first-child {
        td, th {
          border-top: none;
        }
      }

      th {
        min-width: 90px;
      }
    }
  }

  #works {
    $main-color: #8FF0F9;
    $border-color: #FFC1C8;
    $shadow-color: darken(desaturate($main-color, 20%), 30%);

    .section-heading {
      .icon {
        background-color: #BFC4D2;

        .glyphicon {
          top: 7px;
          left: 2px;
          color: white;
        }
      }
    }

    @include customized-window-panel(
      $main-color: #FFFBEF,
      $bg-color: white,
      $shadow-color: $shadow-color,
      $border-color: $border-color
    );

    .main-col {
      color: #555;
    }
  }

  #contact {
    $main-color: #77FFD3;
    $bg-color: #DDDFE4;
    $border-color: #F2C5A2;
    $shadow-color: darken(desaturate($main-color, 20%), 30%);

    .section-heading {
      .icon {
        .glyphicon {
          top: 8px;
          left: -6px;
          color: #BFC4D2;
        }
      }
    }

    @include customized-window-panel(
      $main-color: $main-color,
      $bg-color: $bg-color,
      $shadow-color: $shadow-color,
      $border-color: $border-color
    );

    dl {
      margin-bottom: 0;
      padding: 8px;

      dd {
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
